    <!-- <link rel="stylesheet" href="estilos.css"> -->
    <!-- <link rel="stylesheet" href="fonts.css"> -->
    <!--
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Montez|Pathway+Gothic+One" rel="stylesheet">
    -->
    <!-- Logo ============================================= -->
    <div id="logo">
      <a href="index.html" class="standard-logo" data-dark-logo="images/logo-a.jpg"><img src="../../../assets/images/logo-a.jpg" alt="Canvas Logo"></a>

    </div><!-- #logo end -->
    <nav id="primary-menu">

      <ul>
        <li class="current"><a href="index.html"><div>Inicio</div></a>

        </li>
        <li><a href="nosotros.html"><div>Nosotros</div></a>

        </li>
        <li><a href="#"><div>Servicios</div></a>

        </li>
        <li ><a href="aliados.html"><div>Aliados</div></a>

        </li>
        <li><a href="conmemoraciones.html"><div>Conmemoración</div></a>
        </li>
        <li><a href="como-funciona.html"><div>¿cómo funciona?</div></a>
        </li>
        <li><a href="contacto.html"><div>Contáctanos</div></a>

        </li>
      </ul>

    </nav><!-- #primary-menu end -->





    <div class="conteiner  mx-auto">
            <div class="login">
                    <article class="fondo">
                        <img >
                        <h3>Inicio de Sesión</h3>
                        <form class="" action="user" >
                            <div class="input-group">
                                <span class="input-group-addon"><i class="icon-user"></i></span>
                                <input class="inp" type="text" name="user" value="" required>
                            </div>
                            <br>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="icon-key"></i></span>
                                <input class="inp" type="password" name="pass" value="" required>
                                <br>
                            </div>
                            <br>
                            <a href="" class="he">He olvidado mi contraseña</a>
                            <input class="boton" type="submit" name="inicio" value="Iniciar Sesión">
                        </form>
                    </article>
                </div>
</div>
