      <!-- Footer
		============================================= -->
    <footer id="footer" class="dark">

      
        <div class="container">
  
          <!-- Footer Widgets
          ============================================= -->
          <div class="footer-widgets-wrap clearfix">
  
            <div class="col_one_third">
  
              <div class="widget clearfix center">
  
                <img src="images/logo-dark.jpg" alt="" class="footer-logo">
  
                  Sigue a: <b>My Memories for Funeral Homes</b>
                <div class="widget clearfix" style="padding-left: 90px;">
                <a href="#" class="social-icon si-small si-rounded si-facebook">
                  <i class="icon-facebook"></i>
                  <i class="icon-facebook"></i>
                </a>
  
                <a href="#" class="social-icon si-small si-rounded si-twitter">
                  <i class="icon-twitter"></i>
                  <i class="icon-twitter"></i>
                </a>
  
                <a href="#" class="social-icon si-small si-rounded si-gplus">
                  <i class="icon-gplus"></i>
                  <i class="icon-gplus"></i>
                </a>
  
                <a href="#" class="social-icon si-small si-rounded si-instagram">
                  <i class="icon-instagram"></i>
                  <i class="icon-instagram"></i>
                </a>
  
              </div>
  
              </div>
  
            </div>
  
            
            <div class="col_two_third col_last">
  
              <p style="text-align: justify;padding-top: 30px;">En <b>My Memories for Funeral Homes</b> estamos siempre actualizando nuestros servicios para mejorar tu experiencia, es por eso que te estaremos informando oportunamente cómo hacer uso de ellos.<br>
              Si tienes alguna duda sobre nuestra batería de ayuda te asistiremos con gusto. 
              Ponte en contacto con nosotros y un asesor te atenderá.</p>
  
              <p style="text-align: center;">“Promover un Cambio Cultural, Para lograr un Cambio Social”<br>
                (Como ejemplo esta en decisión de cambiar)</p>
  
  
            </div>
  
          </div><!-- .footer-widgets-wrap end -->
  
        </div>

          <!-- Copyrights
      ============================================= -->
      <div id="copyrights">

          <div class="container clearfix">
  
            <div class="col_half">
              Copyrights &copy; 2018. Todos los derechos reservados. <a href="index.html">My Memories for Funeral Homes</a> 
  .
            </div>
            <div class="col_last center secundario"><a href="" class="rightmargin-sm">Términos y Condiciones</a> <a href="">Politicas y privacidad</a></div>
          </div>
  
        </div><!-- #copyrights end -->
  
      </footer>
<!-- #footer end -->