<nav class="navbar navbar-expand-lg navbar-dark " style="background-color:#1B2B3A">
  <a class="navbar-brand" href="#"><img src="logo02.png" alt="logo"> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      
    
    </ul>

    <ul class="navbar-nav ">
      
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/login"><i class="fa fa-home fa-2x"></i> INICIO</a>
      </li>
      
    </ul>
    
  </div>

  
</nav>



