<app-asidebar></app-asidebar>

  <main>
    <app-navbar></app-navbar>


    <h1><i class="fab fa-gitter"></i> Conmemoracion </h1>
    <div id="derecha" >

    </div>
    

        <main>
            <aside id="derecha">
                    <input type="text">
                    <br>
                    <p style="color:#99CCCC"><b>Invitar a:</b></p>
                    <br>
                    <br>
                    <br>
                    <p><a href="#"></a>Agenda:</p>
            </aside>
              
            <div class="memoInfo">
                <aside>
                    <i class="fab fa-facebook-square fa-2x"></i>
                    <i class="fab fa-twitter-square fa-2x"></i>
                    <i class="fab fa-google-plus-square fa-2x"></i>
                  
                </aside>
                <div class="usuarioMemo">
                    <img src="../../../assets/mmUsuario.png"  height="250px" width="250px">
                </div>
                <h2>   Diego Harrison</h2>
                <label> Budapest , Hungria</label>
                <br>
                  <p style="color:deepskyblue" ><i class="fas fa-calendar-alt " ></i>  05 sept 1988 </p>
                  <p style="color:deepskyblue">  - 07 enero 2017</p>
               
               
                  
                         

                  
          
              </div>
              
              <br>

              <div class="memoInfo">
                <div class="memoUsuario">
                    <h3>  Remembranza</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit vitae obcaecati, sit voluptatibus dolores odio inventore, doloremque asperiores commodi, in aliquam doloribus maxime necessitatibus. Sed, adipisci? Cupiditate debitis perspiciatis iure.</p>
                    <br>
                    <h3>Velacion</h3>
                  </div>
               </div>
            
            <br>
           <br>
          
          </main>


  </main>