.memoInfo {
    background-color: #ffffff;
    height: 210px;
    width: 70%;
    padding: 5px;
}
div > aside {
    i {
        padding-right: 5px;
    }
}

.usuarioMemo img{
    height: 200px;
    
}
.memoUsuario {
    padding: 25px;
}
.memoInfo2 {
    
}