<app-asidebar></app-asidebar>

  <main>
    <app-navbar></app-navbar>
    <div class="fondo-letter">
      <div class="bordo">

      <form class="formulario">
          <fieldset>

            <div>
              <div class="izquierda">
                  <img src="../../../assets/mmUsuario.png" alt="#">
                  <br>
                  <label>Album</label>
                  <input  id ="myfotos" placeholder="Fotos" />
              </div>
              <aside class="derecha">
                <label>Destinario:</label>
                <input  id ="destinario" placeholder="Nombre del destinario" />
                <br>
                <label>Correo</label>
                <input  id ="mycorreo" placeholder="Correo" />
              </aside>
          </div>

          <div>
            <label>Encabezamiento</label>
            <input  id="encabezabiento" placeholder="Encabezabiento"/>
            <br>

            <label>Introduccion</label>
            <input id="inroduccion" placeholder="Escribe aqui"/>
            <br>
            <label >Cuerpo</label>
            <textarea placeholder="cuerpo" id="cuerpo" cols="30" rows="10"></textarea>
          </div>
          </fieldset>
        </form>

        <br>
        <br>
          <button class="btn btn-primary btn-lg active" name="guardar" id="guardar"><i  id="guardar" class="far fa-save fa-2x" ></i></button>

        </div>
  </div>
  </main>
