<app-asidebar></app-asidebar>
  <main>
    <app-navbar></app-navbar>
    <aside id="derecha">
        <input type="text">
        <br>
        <p style="color:#99CCCC"><b>Invitar a:</b></p>
        <br>
        <br>
        <br>
        <p><a href="#"></a>Agenda:</p>
</aside>
    <div class="fondo-letter">
      <div class="bordo">

      <form class="formulario">
          <fieldset>
            <div class="izquierda">
                <aside class="derecha">
                    <label>Destinario:</label><br>
                    <input  id ="destinario" placeholder="Nombre del destinario" />
                    <br>
                    <label>Correo</label><br>
                    <input  id ="mycorreo" placeholder="Correo" />
                  </aside>

                  <img src="../../../assets/mmUsuario.png" alt="#">
                  <br>
                  <br>

                  <input  id ="myfotos" placeholder="Album fotos" />


          </div>

          <div>
            <br>
            <input  id="encabezabiento" placeholder="Encabezabiento"/>
            <br>
            <br>


            <input id="introduccion" placeholder="introduccion"/>
            <br>
            <br>

            <textarea placeholder="cuerpo" id="cuerpo" cols="50" rows="10"></textarea>
          </div>
          </fieldset>
        </form>

        <br>
        <br>



        </div>
        <button class="btn btn-primary btn-lg active" name="guardar" id="guardar"><i  id="guardar" class="far fa-save fa-2x" ></i></button>
  </div>

  </main>
