.fondo-letter{
  padding: 50px;
  width: 75%;
  background-color: white;
  color: #99CCCC;


}
.bordo {
  border: 5px solid black;
  padding-left: 50px;
  padding-top: 20px;
  padding-right: 50px;
}
img {

  width: 100px;
  height: 100px;

}
#cuerpo, #introduccion {
  width: 100%;
}
.btn {
  margin-top: 1em;
}
#derecha {
  margin-top: 3ex;
}
