<app-homenavbar> </app-homenavbar>
<section class="homeStretched" >

    <div id="wrapper" class="clearfix">
        <header id="header" class="full-header">
            <div id="header-wrap">

                <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                  
                



            </div>
          </header>
                <section id="slider" class="slider-element slider-parallax swiper_wrapper clearfix">



                </section>

                  <!-- Content
          =============================================-->
              <section id="content">

                  <div class="content-wrap">



                        <div class="container clearfix">

                          <div class="col_two_fifth nobottommargin">
                            <video poster="images/videos/gilsan.png" preload="auto" controls style="display: block; width: 100%;">
                              <source src='images/videos/gilsan.webm' type='video/webm' />
                              <source src='images/videos/gilsan.mp4' type='video/mp4' />
                            </video>
                          </div>

                          <div class="col_three_fifth nobottommargin col_last">

                            <p>“El corazón tiene motivos que la razón no entiende”, dijo el filósofo Blaise Pascal. Si bien es cierto que a los humanos nos impele amar intensa e ilimitadamente, como afirmaba Agustín de Hipona: “la medida del amor es amar sin medida”, también es muy cierto que el amor no soporta la separación.
                            Y es justamente la comprobación imprevista y dolorosa de la fragilidad de la vida, que nos evidencia contingentes y temporales, la que acomete contra los deseos de nuestro corazón capaz de relacionarse, arraigarse, eternizar y de amar para siempre. Se hace necesaria, entonces, la continuidad de los lazos, el afecto, los recuerdos y de una presencia interna que perdure y nos sostenga en el camino restaurador del duelo tras una separación.
                            Así, no deja de ser valiosa e integrativa la tarea de conmemorar y recordar, es decir, de volver a pasar por el corazón: de continuar amando y existiendo.
                            </p>


                          </div>

                          <div class="clear"></div>

                        </div>

                  </div>



                </section><!-- #content end -->

            <!-- Aqui debe iniciar footer -->




      </div>

      <app-footer>
      </app-footer>

</section>

