

<app-asidebar></app-asidebar>
<main>
    
    <app-navbar></app-navbar>
    <h1><i class="fas fa-user fa-1x"></i> Remembranza: </h1>
    <div id="derecha" >
       <!-- <img src="conejo.jpg"  alt="fondo"> -->

    </div>

    <main>
            <aside id="derecha">
                    <input type="text">
                    <br>
                    <p style="color:#99CCCC"><b>Invitar a:</b></p>
                    <br>
                    <br>
                    <br>
                    <p><a href="#"></a>Agenda:</p>
                    <br>
                    <br><br><br><br><br><br><br><br><br><br><br>
                    <br><br><br><br><br><br><br><br><br>
                    <div>Todos Los Derechos Reservados 2018 &copy;</div>
            </aside>

            <div class="usuario">
                <img src="usuario.jpg"  height="50px" width="50px">
              </div>

            <div class="fondo-frente">
              
                <h2> USUARIO</h2>
                <br>
                <br>
                <form>
                    <fieldset>
                      <legend>Escribe tus memorias</legend>
                      <p>
                        <label>-Titulo:</label>
                        <input type ="text" id ="myText" placeholder="Titulo" />
                      </p>
                      <p>
                        <label>Epitafio:</label>
                        <input  id="text" placeholder="Epitafio" rows="5" cols="150"/>
                      </p>
                      <p>
                        <label>Text Area</label>
                        <textarea id="myTextArea" rows="6" cols="80" placeholder="Escribe aqui"></textarea>
                      </p>
                    </fieldset>
                  </form>

                  <br>
                  <br>
                  <h3>LISTA DE CONTACTOS</h3>
                    <button class="btn btn-primary btn-lg active" name="guardar" id="guardar"><i  id="guardar" class="far fa-save fa-2x" ></i></button>
                    
          
            </div>
            
          <br>
          <br>
          
    </main>
    
</main>