<app-asidebar></app-asidebar>

  <main>
    <app-navbar></app-navbar>

        <h1><i class="fab fa-gitter"></i> Contactos </h1>
        <div id="derecha" >

        </div>

            <main>
                <aside id="derecha">
                        <input type="text">
                        <br>
                        <p style="color:#99CCCC"><b>Invitar a:</b></p>
                        <br>
                        <br>
                        <br>
                        <p><a href="#"></a>Agenda:</p>
                </aside>
                <div class="fondo-frente">
                    <h2> USUARIO</h2>
                    <br>
                    <br>
                      <form class="row">
                          <div class="contact">
                            <b>Nombre(s):</b> <br>
                            <input type="text" name="firstname" placeholder="Escribe tu nombre o nombres" ><br>
                            <br>
                            <b>Nombre(s)</b> <br>
                            <input type="text" name="email" placeholder="Escribe tu Email" ><br>
                            <br>
                            </div>
                          <div class="contact" >
                                <b>Parentesco</b> <br>
                                <input type="text" name="apellido" placeholder="Escribe tu Apellido" ><br>
                                <br>
                                <b>Parentesco:</b> <br>
                                <input type="text" name="firstname" placeholder="Escribe tu nombre o nombres" ><br>
                                <br>

                            </div>
                          <div class="contact">
                              <b>Correo</b> <br>
                              <input type="text" name="firstname" placeholder="Escribe tu nombre o nombres" ><br>
                              <br>
                              <b>Correo</b> <br>
                              <input type="text" name="firstname" placeholder="Escribe tu nombre o nombres" ><br>
                              <br>

                          </div>
                          <div class="contact">
                              <b>Tel. Cel</b> <br>
                              <input type="text" name="firstname" placeholder="Cel o whatsApp" ><br>
                              <br>
                              <b>Tel. Cel</b> <br>
                              <input type="text" name="firstname" placeholder="Escribe tu nombre o nombres" ><br>
                              <br>
                              <br><br><br>
                              <br>
                              <br>
                              <br>
                              <br>
                          </div>

                          <div>
                              <p>Tus contactos cumplen una tarea importante y pueden ser una o varias personas, que podrán apoyar a la casa funeral que te brinda el servicio. Ellos podrán brindar información de horarios y lugares donde se lleven a cabo futuras celebraciones y homenajes. Asistiendo así también a familiares para hacer frente a la adversidad.
                              Recuerda mantenerlos informados y hablar siempre con ellos (solo se publicara su nombre y el parentesco el número de teléfono es importante para la casa funeral).</p>
                          </div>


                      </form>

                      <button class="btn btn-primary btn-lg active" name="guardar" id="guardar"><i  id="guardari" class="far fa-save fa-2x" ></i></button>




                  </div>

                <br>
               <br>

              </main>

  </main>
