


<app-asidebar></app-asidebar>
<main>

    <app-navbar></app-navbar>

    <h1>Bienvenido: </h1>
    <div id="derecha" >
    <img src="conejo.jpg"  alt="fondo">

    </div>

    <main>
            <aside id="derecha">
                    <input type="text">
                    <br>
                    <p style="color:#99CCCC"><b>Invitar a:</b></p>
                    <br>
                    <br>
                    <br>
                    <p><a href="#"></a>Agenda:</p>
            </aside>
            <div class="fondo-frente">
                <h2> USUARIO</h2>
                <br>
                <br>
                  <form action="" class="row">
                      <div class="column">
                        <b>Nombres(s):</b> <br>
                        <input type="text" name="firstname" placeholder= "Escribe tu nombre o nombres" ><br>
                        <br>
                        <b>Email:</b> <br>
                        <input type="text" name="email" placeholder= "Escribe tu Email" ><br>
                        <br>
                        </div>
                    <div class="column" >
                            <b>Primer apellido</b> <br>
                            <input type="text" name="apellido" placeholder= "Escribe tu Apellido" ><br>
                            <br>
                            <b>Telefono</b> <br>
                            <input type="text" name="telefono" placeholder= "telefono" ><br>
                            <br>
                            <br><br><br>


                    </div>

                  </form>

                  <button class="btn btn-primary btn-lg active" name="guardar" id="guardar"><i  id="guardari" class="far fa-save fa-2x" ></i></button>




            </div>

          <br>
          <br>

    </main>

</main>
