
    <div id="logo">
      <a href="index.html" class="standard-logo" data-dark-logo="images/logo-a.jpg"><img src="../../../assets/images/logo-a.jpg" alt="Canvas Logo"></a>

    </div><!-- #logo end -->
    <nav id="primary-menu">

      <ul>
        <li class="current"><a href="index.html"><div>Inicio</div></a>

        </li>
        <li><a href="nosotros.html"><div>Nosotros</div></a>

        </li>
        <li><a href="#"><div>Servicios</div></a>

        </li>
        <li ><a href="aliados.html"><div>Aliados</div></a>

        </li>
        <li><a href="conmemoraciones.html"><div>Conmemoración</div></a>
        </li>
        <li><a href="como-funciona.html"><div>¿cómo funciona?</div></a>
        </li>
        <li><a href="contacto.html"><div>Contáctanos</div></a>

        </li>
      </ul>

    </nav><!-- #primary-menu end -->


