
    <div id="header-wrap">
      <a href="index.html" class="standard-logo" data-dark-logo="images/logo-a.jpg"><img src="../../../assets/images/logo-a.jpg" alt="Canvas Logo"></a>

    
    <nav id="primary-menu">

      <ul>
        <li class="current"><a href="index.html"><div>Inicio</div></a>

        </li>
        <li><a href="nosotros.html"><div>Nosotros</div></a>

        </li>
        <li><a href="#"><div>Servicios</div></a>

        </li>
        <li ><a href="aliados.html"><div>Aliados</div></a>

        </li>
        <li><a href="conmemoraciones.html"><div>Conmemoración</div></a>
        </li>
        <li><a href="como-funciona.html"><div>¿cómo funciona?</div></a>
        </li>
        <li><a href="contacto.html"><div>Contáctanos</div></a>

        </li>
      </ul>
            <!-- Top Search
              ============================================= -->
              <div id="top-search">
                <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
                <form action="search.html" method="get">
                  <input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
                </form>
              </div><!-- #top-search end -->


    </nav><!-- #primary-menu end -->
  </div><!-- #logo end -->


