<aside>
  <div class="area">
  <nav class="main-menu">
      <ul>
          <li>
              <a href="#" routerLink="/user" >
                  <i class="fa fa-home fa-2x"></i>
                  <span class="nav-text">
                      Mi cuenta
                  </span>
              </a>
            
          </li>
          <li class="has-subnav">
              <a href="#" routerLink="/contact" >
                  <i class="fa fa-users fa-2x"></i>
                  <span class="nav-text">
                      Contactos
                  </span>
              </a>
              
          </li>
          <li class="has-subnav">
              <a href="#" routerLink="/rem">
                  <i class="fa fa-memory fa-2x"></i>
                  <span class="nav-text">
                      Remembranza
                  </span>
              </a>
              
          </li>
          <li class="has-subnav">
              <a href="#" routerLink="/memo" >
                  <i class="fa fa-award fa-2x"></i>
                  <span class="nav-text">
                      Conmemoracion
                  </span>
              </a>
              
          </li>
          <li>
              <a href="#" routerLink="/letters">
                  <i class="fa fa-envelope-square fa-2x"></i>
                  <span class="nav-text">
                      Cartas
                  </span>
              </a>
          </li>
          <li>
              <a href="#" routerLink="/test" >
                  <i class="fa fa-file-invoice fa-2x"></i>
                  <span class="nav-text">
                     Testamento
                  </span>
              </a>
          </li>
          <li>
             <a href="#" routerLink="/mmemori" >
                 <i class="fa fa-memory fa-2x"></i>
                  <span class="nav-text">
                      Mi memorias
                  </span>
              </a>
          </li>
          <li>
             <a href="#" routerLink="/tree" >
                  <i class="fa fa-map-marker fa-2x"></i>
                  <span class="nav-text">
                      Arbol Genealogico
                  </span>
              </a>
          </li>
          <li>
              <a href="#" routerLink="/homen" >
                 <i class="fa fa-info fa-2x"></i>
                  <span class="nav-text">
                      Homenaje
                  </span>
              </a>
          </li>
      </ul>
  
      <ul class="logout">
          <li>
             <a href="#">
                   <i class="fa fa-power-off fa-2x"></i>
                  <span class="nav-text">
                      Chat
                  </span>
              </a>
          </li>  
      </ul>
  </nav>
  
  </div>
  
  </aside>