<div class="contenedor">
     <div class="registro">
        <article class="fondo">
          
            <img>
          
            <h3>Registro de Usuario</h3>
            <form class="" action="index.html" method="post">
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon-user-plus"></i></span>
                    <input class="inp" type="text" name="user" value="" placeholder="Nombre de usuario" required>
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon-key"></i></span>
                    <input class="inp" type="password" name="pass" value="" placeholder="Ingrese Password" required>
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon-key2"></i></span>
                    <input class="inp" type="password" name="pass" value="" placeholder="Confirme Password" required>
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon-mail2"></i></span>
                    <input class="inp" type="text" name="user" value="" placeholder="Ingrese Email" required>
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon-mail"></i></span>
                    <input class="inp" type="text" name="user" value="" placeholder="Confirme Email" required>
                </div>
                <br>
                <a href="#" class="he">Inicio</a>
                <input class="boton" type="submit" name="Registrar" value="Registrar Datos">
            </form>
        </article>
    </div>
<div>