<app-asidebar></app-asidebar>

  <main>
    <app-navbar></app-navbar>
    <h1><i class="fab fa-gitter"></i>Testamento Digital</h1>
    <div id="derecha" >

    </div>


        <main class="main">
            <aside id="derecha">
                    <input type="text">
                    <br>
                    <p style="color:#99CCCC"><b>Invitar a:</b></p>
                    <br>
                    <br>
                    <br>
                    <p><a href="#"></a>Agenda:</p>
            </aside>

            <div class="testInfo brd">
                <aside>
                    <h1><i class="fas fa-caret-right"></i>MyMemories</h1>
                    <div class="testAlign">
                      <p>
                        <label >Nombre</label><br>
                        <label >Lugar de nacimiento</label><br>
                        <label >Fecha de nacimiento y defuncion</label>
                      </p>
                    </div>


                </aside>



                <h2>Testamento Digital</h2>

                <br>








              </div>

              <br>

              <div class="testInfo brd1">
                <div class="testUsuario">
                    <h2>Objetivo</h2>
                    <p>El valor tan importante de este documento el cual dará tranquilidad y seguridad a sus seres queridos</p>

                <h4>Cómo hacer un testamento.</h4>
                <p>Deja lo mejor de ti</p>
                <p>Otorga la tranquilidad para evitar conflictos familiares y no dejes bienes intestados. Te decimos como hacerlo.</p>

              </div>





              </div>
        </main>

  </main>
